# General
.DS_Store
._*
_*
*~
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
Thumbs.db
nbproject/

# Config
config/config.php

# WEB-INF
api/
src/lib/tcpdf/
upload/
var/cache/*.*
var/templates/*.*
var/tmp/*.*
